astropy==6.0.1
astropy-healpix==1.0.2                
astropy-iers-data==0.2024.3.25.0.29.50
astroquery==0.4.7                     
beautifulsoup4==4.12.3                
boto3==1.34.73                        
botocore==1.34.73                     
cdshealpix==0.6.5                     
certifi==2024.2.2                     
charset-normalizer==3.3.2             
contourpy==1.2.0                      
cycler==0.12.1                        
fonttools==4.50.0                     
html5lib==1.1                         
idna==3.6
jaraco.classes==3.3.1
jaraco.context==4.3.0
jaraco.functools==4.0.0
jmespath==1.0.1
keyring==25.0.0
kiwisolver==1.4.5
matplotlib==3.8.3
mocpy==0.13.1
more-itertools==10.2.0
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pyerfa==2.0.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pyvo==1.5.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
regions==0.8
requests==2.31.0
s3transfer==0.10.1
six==1.16.0
soupsieve==2.5
toml==0.10.2
urllib3==2.2.1
webencodings==0.5.1